.create-poll-form {
    .logout {
        color: #E6252C;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 12px;
        font-size: 35px;
        cursor: pointer;
    }

    .home {
        color: #E6252C;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 12px;
        font-size: 35px;
        cursor: pointer;
    }

    h1 {
        margin: 64px auto;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 12px;

        @media screen and (min-width: 768px) {
            font-size: 48px;
        }
    }

    form {
        width: 80%;
        margin: 0 auto;


        .option-container {
            text-align: left;
            width: 50%;

            .option-field {
                display: flex;
                flex-direction: row;
            }
        }

        .full-width {
            color: black;
            width: 100%;
        }

        .half-width {
            display: inline-block;
            color: black;
            width: 50%;
            text-align: center;
        }

        .button-container {
            text-align: center;
            margin-bottom: 64px;
        }

        .shared-link {
            display: flex;
            flex-direction: row;

            input {
                cursor: pointer;
                flex: 9;
            }
        }

        .add-button {
            margin-bottom: 64px;
        }

        .other-options {
            margin-bottom: 48px;
        }
    }
}
