<div *ngIf="translations" class="login-form">
    <h1>{{translations['title']}}</h1>

    <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">

        <mat-form-field class="full-width">
            <mat-label>{{translations['email']}}</mat-label>
            <input formControlName="mail" matInput [placeholder]="translations['email-placeholder']">
        </mat-form-field>
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
             class="alert alert-danger">

            <div *ngIf="mail.errors.required">
                {{translations['email-error-required']}}
            </div>
            <div *ngIf="mail.errors.email">
                {{translations['email-error-valid']}}
            </div>
        </div>
        <mat-form-field class="full-width">
            <mat-label>{{translations['password']}}</mat-label>
            <input formControlName="password" matInput [placeholder]="translations['password-placeholder']" type="password">
        </mat-form-field>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">

            <div *ngIf="password.errors.required">
                {{translations['password-error-required']}}
            </div>
            <div *ngIf="password.errors.minlength">
                {{translations['password-error-length']}}
            </div>
        </div>
        <div class="alert alert-danger">
            <div *ngIf="apiError">
                {{this.reason}}
            </div>
        </div>
        <div class="button-container">
            <button mat-raised-button type="submit">{{translations['login']}}</button>
            <button (click)="router.navigate(['register'])" mat-raised-button type="button">{{translations['register']}}</button>
        </div>

    </form>
</div>
