.logout {
    color: #E6252C;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 12px;
    font-size: 35px;
    cursor: pointer;
}

.home {
    color: #E6252C;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 12px;
    font-size: 35px;
    cursor: pointer;
}
