.create-vote-form {
    .logout {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 12px;
        font-size: 35px;
        cursor: pointer;
    }

    .home {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 12px;
        font-size: 35px;
        cursor: pointer;
    }

    h2 {
        margin: 64px auto;
        text-align: center;
        font-size: 48px;
    }

    form {
        width: 400px;
        margin: 0 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        @media screen and (min-width: 768px) {
            margin: 0 auto;
        }


        .option-container {
            text-align: left;
            width: 50%;

            .option-field {
                display: flex;
                flex-direction: row;
            }
        }

        .full-width {
            color: black;
            width: 100%;
        }

        .half-width {
            display: inline-block;
            color: black;
            width: 50%;
            text-align: center;
        }

        .button-container {
            text-align: center;
        }

        .shared-link {
            display: flex;
            flex-direction: row;

            input {
                cursor: pointer;
                flex: 9;
            }
        }

        .radio-group {
            margin-bottom: 32px;
        }
    }
}
